.container
    display : flex
    justify-content: space-between
    border: 2px solid black
    margin: 2rem


.box
    background-color: #3498db
    padding: 3rem
    margin: 2rem
    border-radius: 1rem
    color: #fff
