
.nav
    display : flex 
    justify-content : space-between 
    align-items: center
    background-color : #3498db
    padding : 1rem 2rem
    color: #fff
    margin-bottom : 1rem

    
.logo
    font-size: 1.5rem
    font-weight: bold


.nav-links
    list-style: none
    display: flex
    gap : 1rem


a
    text-decoration: none
    color: #fff
    font-weight: 1.3rem
