

<div class="container">
    <h1>My First COmponent</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur odit aliquam ipsam obcaecati, laborum, voluptates exercitationem veniam quia, amet nisi atque nemo praesentium mollitia at quidem suscipit labore modi! Natus qui minus corporis. Molestiae voluptatum dolor, nam similique, minima error consectetur cupiditate dolorem, soluta quidem beatae! Eveniet sint velit necessitatibus rem ipsa ipsum accusamus sunt? Labore praesentium tempora dolores, illum perferendis animi voluptatem a voluptate autem commodi fugit sit optio beatae! Itaque totam tenetur nam similique. Quae vel, nemo officia cupiditate laboriosam harum consectetur aut libero sed voluptatem aliquam eius ipsa ex enim deleniti pariatur quia? Illum possimus deleniti quis.
    </p>
</div>

<app-first-child></app-first-child>
