<div class="container">
    <h1>My Second Component</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor tenetur iusto ipsum repellendus? Provident ducimus vero placeat ea consequatur, eius velit inventore pariatur maxime quia eligendi illo soluta debitis illum nulla. Dignissimos at quos molestiae recusandae sed dolorem blanditiis ad voluptate sint inventore soluta officiis amet impedit, dolorum rem rerum nisi. Quibusdam itaque, perferendis quo voluptas commodi, rerum odio minima sit dolor laudantium ipsum iste consequuntur eum rem, nam minus beatae voluptatum deserunt odit optio dolorem dicta? Mollitia est rem ipsum ipsam ea, saepe explicabo ducimus atque? In a laudantium qui beatae. In eligendi delectus natus necessitatibus esse odit perferendis?</p>
</div>

<!-- <div [ngStyle]="{ 'color' : color, 'font-size' : fontSize+'px'}">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam, quod!</p>
</div>

<div [ngClass]="{'isActive' : isActive, 'notActive' : notActive}">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, est.</p>
</div>

<app-binding></app-binding> -->